<div class="container" style="text-align:center">
    <h2> App Security {{ title }} Exemple! </h2> <br/>
    <table>
        <tr>
            <td><button routerLink="/app-login" routerLinkActive="active">Home</button></td>
            <td><button routerLink="/app-ok" routerLinkActive="active">Página sem proteção</button></td>
            <td><button routerLink="/app-denied" routerLinkActive="active">Página protegida</button></td>
        </tr>
    </table>
    <br/>
    <router-outlet></router-outlet>
</div>